
.navbar-inverse .navbar-toggle-always {
  border-color: #333333;
}
.navbar-inverse .navbar-toggle-always:hover,
.navbar-inverse .navbar-toggle-always:focus {
  background-color: #333333;
}
.navbar-inverse .navbar-toggle-always .icon-bar-always {
  background-color: #ffffff;
}
.navbar-toggle-always {
  position: relative;
  float: right;
  margin-right: 0px;
  padding: 3px 3px;
  margin-top: 8px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  margin-left: 0;
  margin-right: 0;
}
.navbar-toggle-always:focus {
  outline: 0;
}
.navbar-toggle-always .icon-bar {
  display: block;
  position:fixed;
  width: 22px;
  height: 2px;
  border-radius: 1px;
}
.navbar-toggle-always .icon-bar + .icon-bar {
  margin-top: 4px;
}
@media (min-width: 768px) {
  .navbar-toggle-always {
    display: block!important;
    background-color: transparent;
    border: 1px solid #333333;
  }
}
@media (min-width: 1080px) {
  .navbar-toggle-always {
    display: none;
  }
}
@media (min-width: 768px) {
  .navbar-toggle-always {
    display: block!important;
    background-color: transparent;
    border: 1px solid #333333;
  }
}
@media (min-width: 344px) {
  .navbar-toggle-always {
    display: block!important;
    background-color: transparent;
    border: 1px solid #333333;
  }
}
.navbar-toggle-always .icon-bar-always {
  width: 22px;
  height: 2px;
  border: 1px solid #fff;
  display: block;
  border-radius: 1px;
}
.navbar-toggle-always .icon-bar-always + .icon-bar-always {
  margin-top: 4px;
  margin-left:0px;
}
.App_logo {
  color: #6C71C4;
  font-size: 29px;
  font-family: 'Days One', sans-serif;
  z-index: 2000000;
}
.App_logo_plus {
  color: #f1f1f1;
  font-family: 'verdana', sans-serif;
  font-size: 23px;
  z-index: 2000000;
}
/* Globals */
.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.white {
  background-color: #ffffff !important;
}
.red {
  background-color: #db2027;
  color: #ffffff;
}
.green {
  background-color: #5cb85c;
  color: #ffffff;
}
.orange {
  background-color: #f0ad4e;
  color: #ffffff;
}
.text-red {
  color: #db2027;
}
.gold {
  color: #ffd700 !important;
}
.gray {
  color: #d5d5d5;
}
.clear {
  clear: both;
}
.caption {
  padding: 5px;
}
.padding-right-0 {
  padding-right: 0;
}
.padding-left-0 {
  padding-left: 0;
}
.margin-bottom-5 {
  margin-bottom: 5px !important;
}
.margin-bottom-7 {
  margin-bottom: 7px !important;
}
.margin-bottom-20 {
  margin-bottom: 20px !important;
}
.margin-bottom-10 {
  margin-bottom: 10px !important;
}
.margin-bottom-13 {
  margin-bottom: 13px !important;
}
.margin-bottom-15 {
  margin-bottom: 15px !important;
}
.zero-margins {
  margin-left: 0;
  margin-right: 0;
}
.margin-right-5 {
  margin-right: 5px;
}
.min-height-90 {
  min-height: 90px;
}
.min-height-240 {
  min-height: 240px;
}
.width-0 {
  width: 0%;
}
.cursor-pointer {
  cursor: pointer;
}
.full-width {
  width: 100% !important;
}
.center {
  text-align: center;
}
.default_background_color {
  background-color: #ffffff;
}
.nav-center {
  margin: 0;
  float: none;
}
.navbar-inner {
  text-align: center;
}